<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interests</title>

    <!-- Links to bootstrap and css files-->
    <link rel="stylesheet"  type="text/css" href="styles/styles.css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

<!-- Nav bar code with bootstrap -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <span class="navbar-text">Whats the date</span>
    <ul class="navbar-nav">
        <li class="nav-item>">
            <a class="nav-link" href="./">Home</a>
        </li>
    </ul>
</nav>



<div class="container ">
    <h1 class="header">Interests</h1><hr>
    <div class="row">
        <div class="col">

            <form action="#" method="post" class="form-group">

                <!--
                <div class="form-check form-check-inline">
                    <label class="form-check-label norm " for="a1">
                        <input type="checkbox" id="a1" name="a1" value="Game night">Game Night
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label norm" for="a2">
                        <input type="checkbox" id="a2" name="a2" value="Movie night">Movie night
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label norm" for="a3">
                        <input type="checkbox" id="a3" name="a3" value="Baking/cooking">Baking/Cooking
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label norm" for="a4">
                        <input type="checkbox" id="a4" name="a4" value="Video games">Video games
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label norm" for="a5">
                        <input type="checkbox" id="a5" name="a5" value="Writing">Writing
                    </label>
                </div>
                <div class="form-check form-check-inline">
                    <label class="form-check-label norm" for="a6">
                        <input type="checkbox" id="a6" name="a6" value="Reading">Reading
                    </label>
                </div>
                -->
                <h3 class="activity">In-door activities</h3>
                <repeat group="{{ @indoor }}" value="{{ @value }}">

                    <div class="form-check form-check-inline">
                        <label class="form-check-label norm">

                            <check if="{{ isset(@SESSION.indoor) }}">
                                <true>
                                    <check if="{{  in_array( @value, @SESSION.indoor) }}">
                                        <true>
                                            <input type="checkbox" name="indoor[]" value="{{ @value }}" checked> {{ @value }}
                                        </true>
                                        <false>
                                            <input type="checkbox" name="indoor[]" value="{{ @value }}"> {{ @value }}
                                        </false>
                                    </check>
                                </true>
                                <false>
                                    <input type="checkbox" name="indoor[]" value="{{ @value }}"> {{ @value }}
                                </false>

                            </check>


                        </label>
                    </div>

                </repeat><br><br>
                <small class="bg-warning">{{ @errors['indoor'] }}</small><br>

                <h3 class="activity">Out-door activities</h3>
                <repeat group="{{ @outdoor }}" value="{{ @value }}">


                    <div class="form-check form-check-inline">
                        <label class="form-check-label norm">
                            <check if="{{ isset(@SESSION.outdoor) }}" >
                                <true>
                                    <check if="{{  in_array(@value, @SESSION.outdoor) }}">
                                        <true>
                                            <input type="checkbox" name="outdoor[]" value="{{ @value }}" checked> {{ @value }}
                                        </true>
                                        <false>
                                            <input type="checkbox" name="outdoor[]" value="{{ @value }}"> {{ @value }}
                                        </false>
                                    </check>
                                </true>
                                <false>
                                    <input type="checkbox" name="outdoor[]" value="{{ @value }}"> {{ @value }}
                                </false>
                            </check>


                        </label>
                    </div>

                </repeat><br><br>
                <small class="bg-warning">{{ @errors['outdoor'] }}</small><br>

                <button class="btn btn-dark button">Next></button>

            </form>
        </div>
    </div>

</div>

</body>
</html>